.full-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 22px ;
    cursor: pointer;
    width: fit-content;
    
        .white{
            color: $white;
            cursor: pointer;
        }
        .blue{
            color: $main-color-dark;
            cursor: pointer;
        }
    
}
.full-button:hover{
    background-color: $main-color-accent;
}
.stroke-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: $main-color;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 22px ;
    cursor: pointer;
    width: fit-content;

    
    .white{
        color: $white;
        cursor: pointer;
    }
    .blue{
        color: $main-color-dark;
        cursor: pointer;
    }
    
}
.stroke-button:hover{
    border: 2px solid $main-color-accent;
}