.account-aside{
    padding: 50px 100px 50px 100px;
    height: 100%;
    background-color: $black;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .a-link{
            width: fit-content;
            p{
                font-size: $bt-font-size;
                color: $white;
                cursor: pointer;
            }
            p:hover{
                color: $main-color-accent;
            }
        }
        .active{
            display: flex;
                flex-direction: column;
            p{
                color: $main-color;
                font-weight: $bold-font-weight;
            }

                
                .a-line{
                    content: "";
                    border-bottom: 2px solid $main-color;
                    width: 100%;
                }

        }

    }
    .bottom-content{
        .logout{
            display: flex;
            gap: 10px;
            cursor: pointer;

            p{
                color: $white;
                font-size: $bt-font-size;
            }
            svg{
                color: $main-color;
                font-size: 24px;
            }
        }
    }
}