.became-teacher{
    margin: 50px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    h1{
        text-align: center;
        color: $white;
        span{

            background-color: $main-color;
            padding: 2px 40px 2px 40px;
            border-radius: 100px;
        }
    }
    p{
        text-align: center;
        font-size: $bt-font-size;
        color: $white;
    }
    form{
        
        width: 100%;
        .input-content{
            display: flex;
            flex-direction: column;
            gap: 30px;

            
            .line{
                border-bottom: 2px solid $main-color;
            }
        }

        input[type="submit"]{
            background-color: $main-color;
            color: $white;
            font-size: $bt-font-size;
            width: fit-content;
            padding: 10px 50px;
            align-self: center;
        }
        input[type="submit"]:hover{
            color: $main-color;
            background-color: $white;
        }
    }
}