.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px 50px 150px;
    gap: 150px;
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: $white;
        }
        h2{
            color: $white;
            background-color: $main-color;
            padding: 3px 20px 3px 20px;
            border-radius: 100px;
            width: fit-content;
        }
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .top-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .left-content{
                width: 480px;
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
            .right-content{
                width: 480px;
                .line-content{
                    height: 100%;
                    textarea{
                        height: 100%;
                    }
                }



            }
        }
        .bottom-content{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .checkbox{
                p{
                    color: $white;
                }
            }

            input[type="submit"]{
                background-color: $main-color;
                color: $white;
                font-size: $bt-font-size;
                width: fit-content;
                padding: 10px 50px;
                align-self: center;
            }
            input[type="submit"]:hover{
                color: $main-color;
                background-color: $white;
            }
        }
    }
}