.lesson-section{
    margin-top: 100px;;
    .top-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h1{
            color: $purple;
        }
    }
    .lesson-thread{
        margin-top: 100px;
        height: 200vh;
        background-color: $grey;
    }
}