.filter-bar {
    display: flex;
    gap: 30px;
    align-items: center;
    border: 3px solid $main-color;
    border-radius: 20px;
    padding: 6px;
    width: fit-content;
    .filter{
        font-size: $vbt-font-size;
        color: $white;
        padding: 20px 45px 20px 45px;
        cursor: pointer;
        p{
            cursor: pointer;
        }
    }
    .filter:hover{
        background-color: $main-color-light;
        border-radius: 10px;
        p{
            color: $main-color;
        }
    }
    .active{
        background-color: $main-color;
        border-radius: 10px;
    }
    .active:hover{
        background-color: $main-color; 
        p{
            color: $white;
        }
    }
}